In [0]:
%sql
-- Delta lake is the default format for table creation in notebooks, so there's no need to specify  
-- which kind of table will be created.

CREATE TABLE employees
-- USING DELTA
( id INT, name STRING, salary DOUBLE )

In [0]:
%sql
INSERT INTO employees (id, name, salary) VALUES
(1, 'John Doe', 50000.00),
(2, 'Jane Smith', 60000.50),
(3, 'Peter Jones', 75000.75),
(4, 'Alice Brown', 55000.25),
(5, 'Bob Williams', 80000.00);

In [0]:
%sql
select * from employees

In [0]:
%sql 
DESCRIBE DETAIL employees